@font-face {
  font-family: "Roboto-Thin";
  src: url("../../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.ui-text-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 11px;
}

.ui-text-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
}

.ui-text-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
}

.ui-text-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  padding-top: 18px;
  margin-bottom: 12px;
}

.ui-text-subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
}

h3, h4, h5, button, p {
  color: rgba(0, 0, 0, 0.87);
}

p {
  padding-top: 6px;
  margin-bottom: 14px;
  font-weight: 400;
}

a, a:link, a:visited, a:hover {
  color: #000;
}

ol, ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

button i {
  margin-left: 0;
  margin-right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui-button {
  height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2px;
}

.ui-button_icon {
  background-color: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 0;
}

.ui-button_icon i {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.ui-button_icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ui-button_icon:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.ui-button_flat {
  min-width: 88px;
  background-color: none;
}

.ui-button_flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ui-button_flat:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.ui-button_raised {
  background-color: black;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-button_raised:hover {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.ui-button_raised:active {
  background-color: rgba(0, 0, 0, 0.7);
}

.ui-card {
  background-color: #ffffff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.ui-card__title {
  padding: 0 16px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.2);
}

.ui-card__content {
  padding: 16px;
}

.ui-card__actions {
  padding: 8px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
}
